.grid_fluid {
   margin: 0 auto;
   width: 100%;  
}
.grid {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* media queries */
@media only screen and ( max-width:700px ) {
.col-4 {
    width: 100%;
}
.col-6 {
    width:100%;
}
.col-3 {
    width:50%;
}

.portfolio img {
    max-width:80%;
}
.about-us {
    padding:0px;
}
.about-us p{
    padding:20px 0 0 0;
}
.footer-black {
    padding:0px !important;
}
.blue-background .col-6 {
    text-align:center;
    margin:15px;
}
.contact {
    padding:0 15%;
}
.logo {
    margin-left:10px;
}
}