body, html {
	font-size:16px;
	margin:0;
	overflow-x: hidden;
}
img, video, audio {
	max-width:100%;
	max-height:100%;
}
* {
	box-sizing:border-box;
}
.max-width {
	max-width:960px;
	margin:auto;
} 
p {
	line-height: 30px;
    font-size: 18px;
    margin: auto;
}
.gray {
	background:#f8f8f8;
}
a {
	text-decoration:none;
	color:#000;
}

/* header */
header {
	max-height:70px;
	margin:20px auto !important;
}
.logo {
margin:10px;
max-width:180px;
}
header .menu li.menu-item {
	display:inline-block;
	list-style: none;
	margin-right:40px;
	margin-top:25px;
}


#close {
	display:none;
}


.active  {
	color:#00c8fc;
}
.menu {
	text-align:right;    
	animation-duration: 500ms !important;
}
.menu li a {
	padding: 15px 5px;
}
.menu li a:hover {
color:#00c8fc;
}

#menu-humber {
 position: absolute;
    right: 40px;
    top: 40px;
    font-size: 30px;
    color:#8f9195;
    display:none;
} 
/* hero */
.hero {
	background:url(../images/hero.jpeg);
	background-size:cover;
	min-height:650px;
	 display: flex;               /* establish flex container */
    align-items: center;
}
.hero_content{
	text-align:center;
	display: inline-block;
}
.hero_p {
	font-size:20px;
	color:#fff;
}
.hero_title {
	font-size: 35px;
    margin: 60px;
    color:#fff;
}
.hero_button {
	padding: 15px 30px;
    border: 1px solid #fff;
    border-radius: 8px;
    background: transparent;
    color: #fff;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
}
.hero_active_button {
	background: #00c8fc;
	border:0;
}
/* history section */ 
.history {
	text-align: center;
    padding: 80px 0;
    margin: auto;
    max-width: 700px;
}
.history p {
	margin-top:30px;
	padding:20px;
}
/* portfolios section */
.portfolio img {
	width:100%;
	height:auto;
	background:#d7d9d6;
}
.portfolio {
	text-align:center;

}
/* features section */ 
.features{
	text-align:center;
	padding:120px 0;
}
.feature-item {
	background:#fff;
	padding:80px 40px;
	border:1px solid #f6f6f6;
	border: 10px solid #f8f8f8;
}
.fa-features {
	font-size:50px;
	margin-bottom:20px;
}
.hr_fa {
	max-width:30px;
	background:#00c8fc;
	border:0;
	height:2px;
}
.feature-item h3{
	font-size:24px;
}

/* Clients Section */
.clients div {
	text-align:center;
	padding:80px 0;
}
.brands div {
	text-align:center;
}
.author {
	color:#c4c4c4;
}
.clients-p {
	margin:50px auto 25px auto;
	padding:20px;
}
.brands {
	padding-bottom:100px;
}
.brands div img {
	max-width:120px;
}
.brands div {
	margin-bottom:30px;
}
/* footer */
.footer-black {
	background:#1e1f1e;
	padding:80px;
	color:#fff;
}
.blue-background {
	background:#56c8f8;
	padding:20px 0 ;
}
.about-us {
	text-align:center;
	border:1px solid #60655f;
	/*padding:20px;
	border:20px solid #1e1f1e;*/
	border-radius:8px;
}
.about-us p {
	padding:35px;
}
.contact {
	padding:0 50px;
}
.contact i {
margin-right:5px;
}
.about-us h1, .contact h1 {
	font-size:1.6em;
}
.contact input, .contact textarea {
	display:block;
	background:#1e1f1e;
    border:0px;
    margin-bottom:20px;
	border-bottom:1px solid #60655f;
	padding:10px;
	margin:20px 0;
	min-width:300px;
	color:#fff;
	font-size:16px;
    
}
.contact form {
	margin-top:40px;
}
.social {
	text-align:right;
}
.social a {
margin-left:20px;
color:#fff;
font-size:18px;
text-decoration:none;
}
.blue-background .row {
	justify-content:space-between;
}
.copyright {
	color:#fff;
}
.social a i {
	font-size:25px;
}


/* media queries */
@media only screen and ( max-width:750px ) {
.col-4 {
    width: 100%;
}
.col-6 {
    width:100%;
}
.col-3 {
    width:50%;
}

.portfolio img {
    max-width:80%;
}
.about-us {
    padding:0px;
}
.about-us p{
    padding:20px 0 0 0;
}
.footer-black {
    padding:0px !important;
}
.blue-background .col-6 {
    text-align:center;
    margin:15px;
}
.contact {
    padding:0 10%;
    margin-top:20px;
}
.social a{
	padding:1em;
}
.social{
margin-left:-15px !important;
}
.fa-features {
	font-size:70px;
}
.feature-item h3 {
	font-size:35px;
}
.features {
	padding:0px !important;
}
.feature-item {
	padding:20px 40px;
}
.clients div {
	padding:20px;
}
.clients-p{
    margin: 20px auto 25px auto;
}
.brands {
	padding-bottom:10px;
}
}

@media only screen and ( max-width:750px ) {
#menu-humber  {
	display:block;
    cursor:pointer;
}
.menu {
right:-9999px;
position:relative;
}
#close {
	display:block;
    color:#c6c6c6;
    font-size:25px;
    top:30px;
    left:0;
    position:absolute;
    cursor:pointer;

}

}
@media only screen and ( max-width:960px ) {
	.about-us {
	padding:0px !important;
	margin:20px;
}
.about-us p {
	padding:20px;
}}

.ulMobile{
	display:block;
	right:0;
	top:0px;
	transition:right 165ms linear;
	position:absolute;
	background:#fff;
	list-style: none;
	margin-right:0px;
	z-index:1;
}
.liMobile {
	display:block !important;
	background:#fff;
	padding:30px 0 30px 60px;
	cursor:pointer;
}
.liMobile:hover {
	background:#f6f6f6;
}
